@media (max-width: 620px) {

    .corpo {
        padding: 0 15px;
        gap: 10px;
    }

    .seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cartao {
        height: 480px;
    }

    .container {
        max-height: 230px;
    }

    .titulo {
        max-width: 50%;
        font-size: 18px;
    }

    .hp {
        font-size: 14px;
    }
}

   